
<ul>
  <li *ngFor="let teste of testes">
  {{teste.id}} 
  </li>
</ul>

<div class="container">
<table class="table table-hover table-bordered">
         <thead class="thead-light">
            <tr>
              <th>Cadastro Turma</th>
            </tr>
         </thead>

      
      <label for="disciplina">Disciplina:</label>
          <select id="disciplina" name="disciplina" [(ngModel)]="disciplinaOb" >
              <option *ngFor="let disciplina of disciplinas" [ngValue]= "disciplina">
              {{disciplina.nome}}
              </option>
          </select>
          <hr>
        <label>Ano:</label>
         <input type="text" id="codigo" name="codigo" [(ngModel)]="ano" required>
       <hr>
       <label for="professor">Professores:</label>
         <select id="professorSelect" name="Professor"  [(ngModel)]="professorOb">
            <option *ngFor="let professor of professores" [ngValue]= "professor">
            {{professor.nome}}
            </option>
          </select>
         <hr>
      <label for="aluno">Alunos:</label>
        <select id="alunoSelect" name="aluno" [(ngModel)]="alunoOb">
          <option *ngFor="let aluno of alunos" [ngValue]= "aluno">
          {{aluno.nome}}
          </option>
        </select>
        <br>
        <button type="submit"  (click)="salvarListaAluno()">
        Adicionar
      </button>
       
    </table>

    <div class="text-right">
          <button type="submit" class="btn btn-primary" (click)="salvar()">
          <i class="fa fa-save"></i> Salvar
      </button>
    </div>
 

    <div *ngIf="excluir_ok" class="alert alert-success">
        <strong>Sucesso!</strong> A disciplina foi excluída com sucesso.
    </div>
    <hr>
    <h1>Turmas</h1>
    <hr>
    <table class="table table-hover table-bordered">
     
        <thead class="thead-light">
        <tr>
        <th>ID</th>
        <th>Disciplina</th>
        <th>Professor</th>
        <th>Qtd. Alunos</th>
         <th>Ações</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let turma of turmas"
            [class.table-active]="editando == turma">
            <td>
                <i *ngIf="editando == turma"
                   class="fa fa-pencil-square"></i>
                {{turma.idTurma}}
            </td>
            <td>
              {{turma.disciplinaID.nome}}
            </td>
            <td>
              {{turma.idProfessorT.nome}}
            </td>
            <td>
              
            </td>
            <td>
                <button class="btn btn-sm btn-danger"
                        (click)="excluir(disciplina)">
                    <i class="fa fa-trash"></i> Excluir
                </button>
                <button class="btn btn-sm btn-primary"
                        (click)="editar(disciplina)">
                    <i class="fa fa-pencil-square"></i> Editar
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    

      

    <!-- cadastrar sem sumir

    <h2>Cadastrar</h2>
    <p>Use este formulário para cadastrar ou editar uma disciplina.</p>
    <div *ngIf="salvar_ok || editar_ok" class="alert alert-success">
        <strong>Sucesso!</strong> A disciplina foi cadastrada ou atualizada
        com sucesso.
    </div>
    <form #cadastro="ngForm" (submit)="salvar()">
        <div class="form group">
        <label for="nome">Código</label><br>
        <input type="text" id="codigo" name="cogido" class="form-control"
                   [(ngModel)]="codigo"
                   required>
        </div>
        <div class="form-group">
            <label for="nome">Nome</label><br>
            <input type="text" id="nome" name="nome" class="form-control"
                   [(ngModel)]="nome"
                   required>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição</label><br>
            <textarea id="descricao" name="descricao" class="form-control"
                      [(ngModel)]="descricao"
                      cols="70" rows="5"></textarea>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary"
                    [disabled]="!cadastro.valid">
                <i class="fa fa-save"></i> Salvar
            </button>
            <button type="reset" class="btn btn-secondary" (click)="cancelar()">
                Cancelar
            </button>
        </div>
    </form>
</div> -->
<!-- Codigo guardado para futuro aprendizado
<h1>Disciplinas</h1>
<hr>
<ul>
  <li *ngFor="let disciplina of disciplinas" (click)="selecionar(disciplina)">
      <p [class.selecionado]="selecionado == disciplina">{{disciplina.nome}}</p>
      <p *ngIf="selecionado == disciplina">{{disciplina.descricao}}{{disciplina.professor.nome}}</p>
  </li>
</ul>
<table border="1">
<tr>
<th>Código</th>
<th>Nome</th>
<th>Detalhes</th>
</tr>
<tr *ngFor= "let item of disciplinas">
<th>{{item.codigo}}</th>
<th>{{item.nome}}</th>

<td><button (click)="selecionar(item)">Detalhe</button>
</tr>
</table>

<br>
<br>
<div class="justify-content-center text-center">

        <div class="container">
            <div *ngIf="selecionado!=null">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center">
                           Disciplina
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-danger" (click)="removerSelecionada()">Fechar<i class="fa fa-close"></i></button>
                        </div>

                </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{selecionado.nome}}</p>
                            <p>{{selecionado.professor.nome}}</p>
                            <p>{{selecionado.descricao}}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>


</div>
 testes aqui-->

 <!-- Cadastro Botão "novo"
        <div class="container">
            <div *ngIf="novoCadastro!=false || editando!=null">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center">
                           Cadastrar ou atualizar Disciplina
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-danger" (click)="cancelar()">Fechar<i class="fa fa-close"></i></button>
                        </div>

                </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
 
                            <div *ngIf="salvar_ok" class="alert alert-success">
                                <strong>Sucesso!</strong> A disciplina foi cadastrada!
                            </div>
                            <form #cadastro="ngForm" (submit)="salvar()">
                                <div class="form group">
                                <label for="nome">Código</label><br>
                                <input type="text" id="codigo" name="cogido" class="form-control"
                                           [(ngModel)]="codigo"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="nome">Nome</label><br>
                                    <input type="text" id="nome" name="nome" class="form-control"
                                           [(ngModel)]="nome"
                                           required>
                                </div>

                                <div class="form-group">
                                    <label for="descricao">Descrição</label><br>
                                    <textarea id="descricao" name="descricao" class="form-control"
                                              [(ngModel)]="descricao"
                                              cols="70" rows="5"></textarea>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary"
                                            [disabled]="!cadastro.valid">
                                        <i class="fa fa-save"></i> Salvar
                                    </button>
   
                            <button type="reset" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
                        
                                </div>
                            </form>                            
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

         testes aqui-->


